.main {
  background-color: #c9f2c3;
  margin-top: 200px;
  border-radius: 25px;
}
.main .head {
  /* margin-top: 20px; */
  padding: 10px;
  text-align: center;
}
.how-it-works {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5px;
}
.how-it-works .desc {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 30px 20px;
  margin: 20px;
  width: auto;
  height: auto;
}
/* .how-it-works .desc ul {
  padding: 0;
  margin: 0;
}
.how-it-works .desc ul li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
} */

.how-it-works .desc img {
  height: 40px;
  width: 40px;
}
.how-it-works .content {
  padding: 16px;
}
.how-it-works .content h3 {
  font-size: 24px;
  color: #333;
  margin: 0;
}
.how-it-works .content ul {
  font-size: 20px;
  color: #333;
  padding: 0;
  margin: 0;
}
.how-it-works .content ul li {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
  color: #333;
}

@media (max-width: 750px) {
  .main {
    margin-top: 900px;
  }
  .how-it-works {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .how-it-works .desc {
    width: 300px;
    height: 400px;
  }
  .how-it-works .content {
    margin-bottom: 10px;
  }
}
