.my-subscriptions {
    margin: 50px 0px;
}

.my-subscriptions .container {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 30px;
}

.my-subscriptions-subscription {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr;
   align-items: center;
   gap: 30px;
   font-size: 14px;
   padding: 10px 20px;
   color: #454545;
   border: 1px solid tomato;
}

.my-subscriptions-subscription img {
    width: 50px;
}

.my-subscriptions-subscription p span {
    color: tomato;
}

.my-subscriptions-subscription p b {
   font-weight: 500;
   color: #454545;
}

.my-subscriptions-subscription button {
   border: none;
   padding: 12px 0px;
   border-radius: 4px;
   background-color: #e18484;
   cursor: pointer;
}
.my-subscriptions-subscription button:hover {
   background-color: #cca5a5;
   cursor: pointer;
}

