.about-head {
  text-align: center;
  align-items: center;
}

.connecting-farmers {
  display: grid;
  height: 300px;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(2, 200px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 50px;
  column-gap: 100px;
  row-gap: 60px;
}

.connecting-farmers .desc {
  justify-self: center;
  background-color: #ddf3e2;
  border-radius: 10px;
  text-align: center;
  padding: 30px 20px;
}

.connecting-farmers .desc img {
  height: 40px;
  width: 40px;
}

.works {
  display: grid;
  background: #ddf3e2;
  margin-top: 50px;
}

@media (max-width: 750px) {
  .connecting-farmers {
    display: grid;
    grid-template-columns: repeat(1, 200px);
  }
  .connecting-farmers .desc {
    width: 300px;
    height: 300px;
    padding: 20px 10px;
    margin: 30px;
  }
  .connecting-farmers {
    column-gap: 0px;
    row-gap: 0px;
  }
  /* .works{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } */
}
