@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content {
  display: flex;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 430px) {
  .app-content {
    width: 100%;
    flex-direction: row;
  }
}
