.head {
  text-align: center;
  margin-top: 100px;
}

.mid {
  display: grid;
  grid-template-rows: repeat(1, 600px);
  grid-template-columns: repeat(2, 650px);
  justify-items: center;
  margin-top: 50px;
}

.mid .box1 {
  background: #3fc01f;
  height: 100%;
  width: 85%;
}
.mid .box1 img {
  position: relative;
  top: 50px;
  left: 10px;
}
.mid .box2 {
  align-self: center;
  display: grid;
  grid-template-rows: 1fr;
}
.mid .box2 h3 {
  font-weight: 500;
  color: #3fc01f;
  width: 80%;
}
.mid .box2 p {
  /* text-align: justify; */
  font-weight: 500;
  line-height: 1.57;
}

@media (max-width: 768px) {
  .mid {
    display: grid;
    grid-template-rows: repeat(1, 600px);
    grid-template-columns: repeat(1, 750px);
    justify-content: center;
  }
  .mid .box1 {
    height: 100%;
    width: 80%;
  }
  .mid .box1 img {
    /* position: relative;
    top: 0;
    left: 0; */
    height: 500px;
    width: 500px;
  }
  .mid .box2 {
    justify-self: center;
    margin-top: 90px;
    width: 60%;
  }
  .mid .box2 h3 {
    font-weight: 500;
    /* color: #3fc01f; */
  }
  .mid .box2 p {
    justify-self: center;
    font-weight: 500;
    line-height: 1.57;
    width: 80%;
    padding: 10px;
    margin-left: 20px;
    margin-right: 30px;
  }
}

@media (max-width: 430px) {
  .mid {
    display: grid;
    grid-template-rows: repeat(1, 600px);
    grid-template-columns: repeat(1, 700px);
    /* align-items: stretch; */
    justify-content: center;
  }

  .mid .box1 {
    height: 100%;
    width: 80%;
  }

  .mid .box1 img {
    width: 100%;
    height: 100%;
  }

  .mid .box2 {
    justify-self: center;
    margin-top: 90px;
    width: 80%;
  }
}
