.small-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.col-1,
.col-2 {
  flex: 1;
  margin-right: 20px;
}

#ProductImg {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.col-2 {
  flex: 2;
}

.col-2 h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.col-2 p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

.col-2 h3 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1rem;
}

.box-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.qty-new {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.qty-new button {
  padding: 10px 20px;
  border: none;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
  font-size: 1rem;
}

.qty-new button.remove-new {
  background-color: #d9534f;
}

.qty-new button:hover {
  background-color: #4cae4c;
}

.qty-new button.remove-new:hover {
  background-color: #c9302c;
}

.food-item-counter-new {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.food-item-counter-new p {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

/* New styles for the related products grid */
.more-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.related-products {
  display: grid;
  grid-template-columns: repeat(
    3,
    300px
  ); /* 3 items in a row with 300px each */
  gap: 20px; /* Space between items */
  justify-content: center;
}

.food-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .small-container {
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 70%;
  }

  .col-1,
  .col-2 {
    margin-right: 0;
    width: 100%;
  }

  .related-products {
    grid-template-columns: repeat(1, 300px);
  }
}
