.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;

}

.navbar .logo{
    width: max(10%,80px);
}

.navbar .profile{
    width: max(5%, 40px);
    border: 1px solid black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}