.header {
  display: grid;
  justify-items: end;
  grid-gap: 50px 30px;
  height: 34vw;
  margin-bottom: 30px;
  background: url("/Untitled.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  /* background-color: #3FC01F; */
  position: relative;
  border-radius: 25px;
}
/* .header-contents .header-image{
    align-items: center;
    margin: 30px;
    width:100%;
} */
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 30%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: white;
  font-size: 1vw;
}
.header-contents button {
  /* border: none;
  background-color: none;
  color: #151414;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px; */
}
.btn-header {
  border: none;
  color: #28a745;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}
.header-contents button:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
@media (max-width: 430px) {
  .header {
    height: 50vh;
  }
  .header-contents {
    max-width: 50%;
    height: 60%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
    margin-bottom: 5px;
  }
}
