.subs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
  margin: 10px;
}
.subscription-plan {
  padding: 20px;
  border-radius: 25px;
  width: 400px;
  margin: 30px;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}
.subscription-plan .explore-menu-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.subscription-plan h2 {
  margin-bottom: 20px;
}

.subscription-plan ul {
  list-style-type: none;
  padding: 0;
}

.subscription-plan li {
  margin: 10px 0;
}

.subscription-plan p {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5;
}

.subscription-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.subscription-plan button.activeBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscription-plan button.activeBtn:hover {
  background-color: #08407b;
}
.subscription-plan button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .subs-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .subscription-plan {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .subs-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .subscription-plan {
    width: 300px;
  }
}
