.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add form {
  gap: 20px;
}

.add-img-upload img {
  width: 120px;
}

label {
  cursor: pointer;
}

.add-product-name,
.add-product-description {
  width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category-price select,
.add-category-price input {
  max-width: 120px;
  padding: 10px;
}

.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 430px) {
  .add-category-price {
    flex-direction: column;
  }
  .add-btn {
    margin-bottom: 30px;
  }

  .add-img-upload img {
    width: 100px;
  }

  .add-product-name,
  .add-product-description {
    width: 100%;
  }

  .add-category-price {
    flex-direction: column;
    gap: 10px;
  }

  .add-category-price select,
  .add-category-price input {
    width: 100%;
  }
}
